<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADIC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/FreeSans.ttf">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header id="main-header">
        <h1 id="header-title">MADIC</h1>
        <div id="header-links" class="hidden">
            <a href="/">PREKLADAČ</a>
            <a href="/dictionary">SLOVNÍK</a>
            <a href="/contact">KONTAKT</a>
            <a href="/info">INFO</a>
        </div>
    </header>
    
    <main>
        <div class="language-switch-container">
            <div id="language-switch" onclick="toggleLanguage()">
                <img src="static/uk.png" id="flag-left" class="flag" alt="english">
                <span id="switch-text">Switch</span>
                <img src="static/slovakia.png" id="flag-right" class="flag" alt="slovak">
            </div>
        </div>
        <div style="display: none; visibility: hidden;" class='status'>english</div>
        
        <form id="search-form">
            
            <input type="text" id="autocomplete-input" name="term" placeholder="Search" list="term-list">
            <span class="material-symbols-outlined">
                search
            </span>
            <datalist id="term-list"></datalist>
        </form>

        
        <div id="suggestions"></div>
    </main>
    <main style="margin-bottom:10em; visibility: hidden; display: none;" id="translation-widget">
        <div id="result">

            <p id="translation" class="translation"></p>

            <p id="sk_znak"></p>
            <p id="anj_znak"></p>

            <p id="comment"></p>

        </div>
        <script>
            
           // Track the current language outside of the toggleLanguage function
var currentLanguage = 'english'; // Start with 'english' as the default

function toggleLanguage() {
    var flagLeft = document.getElementById('flag-left');
    var flagRight = document.getElementById('flag-right');
    var switchText = document.getElementById('switch-text');
    // Check the current language and toggle it
    if (currentLanguage === 'english') {
        // Move the English flag to the right and the Slovak flag to the left
        flagLeft.style.left = 'calc(100% - 35px)'; // Move English flag to the right
        flagRight.style.left = '5px'; // Move Slovak flag to the left
        switchText.textContent = 'Vymeniť';
        currentLanguage = 'slovak'; // Update the current language
    } else {
        // Move the Slovak flag to the right and the English flag to the left
        flagLeft.style.left = '5px'; // Move English flag to the left
        flagRight.style.left = 'calc(100% - 35px)'; // Move Slovak flag to the right
        switchText.textContent = 'Switch';
        currentLanguage = 'english'; // Update the current language
    }

    // Toggle the z-index to keep the active flag on top
    flagLeft.style.zIndex = currentLanguage === 'english' ? '1' : '0';
    flagRight.style.zIndex = currentLanguage === 'english' ? '0' : '1';
    
    // Perform the AJAX call to update the status on the server
    // ... AJAX call to toggle the language ...

    // Update the search input placeholder directly without waiting for AJAX response
    var searchInput = document.getElementById('autocomplete-input');
    searchInput.placeholder = currentLanguage === 'english' ? 'Search' : 'Hľadať';

    // Update the hidden status div
    $('.status').text(currentLanguage);
}

// Initial setup for the flags
document.getElementById('flag-left').style.left = '5px';
document.getElementById('flag-right').style.left = 'calc(100% - 35px)';
document.getElementById('flag-left').style.zIndex = '1';
document.getElementById('flag-right').style.zIndex = '0';

// Apply transition to flags for smooth sliding effect
$('.flag').css('transition', 'left 0.3s ease');

        </script>
    </main>

    <script>
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
            }
         
        function performSearch(term) {
            const form = document.getElementById('search-form');
            const translation = document.getElementById('translation');
            const sk_symbol = document.getElementById('sk_znak');
            const en_symbol = document.getElementById('anj_znak');
            const comment = document.getElementById('comment');
            const widget = document.getElementById('translation-widget');
            var current_status = $('.status').text();
            fetch('/search', {
                method: 'POST',
                body: new URLSearchParams({ term, current_status }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            .then(response => response.json())
            .then(data => {

                function createCommentElement(parent, titleText, contentText, contentColor) {
                    parent.innerHTML = ''; // Clear the parent element
                    const commentTitle = document.createElement('p');
                    commentTitle.textContent = titleText;
                    commentTitle.style.fontWeight = 'bold';
                    commentTitle.style.color = '#fff';
                    parent.appendChild(commentTitle);
                
                    if (contentText && contentText.trim() !== '') {
                        const commentContent = document.createElement('p');
                        commentContent.textContent = contentText;
                        commentContent.style.color = contentColor || '#fff'; // Set default color if not provided
                        parent.appendChild(commentContent);
                    }
                }
                
                // Inside the fetch response handler
                if (data.translation && data.translation.trim() !== 'Translation not found') {
                    createCommentElement(translation, 'Translation', data.translation);
                    widget.style.visibility = 'visible';
                    widget.style.display = 'block';
                } else {
                    translation.innerHTML = '';
                    widget.style.display = 'none';
                    widget.style.visibility = 'hidden';
                }
                
                if (data.sk_znak) {
                    createCommentElement(sk_symbol, 'Slovak symbol', data.sk_znak);
                } else {
                    sk_symbol.innerHTML = '';
                }
                
                if (data.anj_znak) {
                    createCommentElement(en_symbol, 'English symbol', data.anj_znak);
                } else {
                    en_symbol.innerHTML = '';
                }
                
                if (data.popis) {
                    createCommentElement(comment, 'Description', data.popis);
                } else {
                    comment.innerHTML = '';
                }
                
            })
            .catch(error => console.error('Error:', error));}
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('search-form');
            const translation = document.getElementById('translation');
            const slovakTranslation = document.getElementById('slovak-translation');
            const comment = document.getElementById('comment');


            form.addEventListener('submit', function (e) {
                e.preventDefault();
                const term = document.getElementById('autocomplete-input').value;
                var current_status = $('.status').text();
                performSearch(term);
            });

            // Menu stuff

            var header = document.getElementById('main-header');
            var title = document.getElementById('header-title');
            var links = document.getElementById('header-links');
        
            header.addEventListener('mouseenter', function() {
                title.style.opacity = '0';
                links.style.display = 'flex'; // Display the links as flex to enable the fade-in effect
                setTimeout(function() { // Timeout to apply the transition after display change
                    links.style.opacity = '1';
                }, 10);
            });
        
            header.addEventListener('mouseleave', function() {
                title.style.opacity = '1';
                links.style.opacity = '0';
                setTimeout(function() { // Timeout to hide the links after fade-out effect
                    links.style.display = 'none';
                }, 500); // This timeout duration should match the CSS transition duration
            });            
        });
        
        function iconSearch(){
            const term = document.getElementById('autocomplete-input').value;
            performSearch(term)
           }
          $('.material-symbols-outlined').click(iconSearch);
        

            
        
    
    
       
    $(document).ready(function() {
        $('#autocomplete-input').on('input', function() {
            let query = $(this).val();
            if (query.length > 0) {
                fetchSuggestions(query);

            } else {
                $('#suggestions').empty();
            }
        });
    });

    function fetchSuggestions(query) {
        var current_status = $('.status').text()
        $.ajax({
            url: '/autocomplete',
            data: { query: query , status: current_status},
            success: function(response) {
                displaySuggestions(response.suggestions);
            }
        });
    }

    function displaySuggestions(suggestions) {
        let suggestionsDiv = $('#suggestions');
        suggestionsDiv.empty();
        
        if (suggestions.length > 0) {
        const commentTitle = document.createElement('p');
        commentTitle.style.fontWeight = 'bold';
        suggestionsDiv.append(commentTitle);

        suggestions.forEach(function(suggestion) {
            //let capitalizedSuggestion = capitalizeFirstLetter(suggestion);
            let suggestionElement = $('<div>', {
                text: suggestion,
                class: 'suggestions',
                click: function() {
                    $('#autocomplete-input').val(suggestion);
                    suggestionsDiv.empty();
                    performSearch(suggestion); // Perform search when suggestion is clicked
                }
            });
            suggestionsDiv.append(suggestionElement);
        });

    }
    }
</script>

</body>
</html>
