<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADIC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/FreeSans.ttf">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            // Function to handle sorting when header is clicked
            $('th').click(function(){
                var table = $(this).parents('table').eq(0);
                var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
                this.asc = !this.asc;
                if (!this.asc){rows = rows.reverse();}
                for (var i = 0; i < rows.length; i++){table.append(rows[i]);}
            });
            // Function to compare values for sorting
            function comparer(index) {
                return function(a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index);
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
                };
            }
            // Function to get cell value for sorting
            function getCellValue(row, index){ return $(row).children('td').eq(index).text(); }
        });
    </script>
</head>
<body>
    <header id="main-header">
        <h1 id="header-title">MADIC</h1>
        <div id="header-links" class="hidden">
            <a href="/">PREKLADAČ</a>
            <a href="/dictionary">SLOVNÍK</a>
            <a href="/contact">KONTAKT</a>
            <a href="/info">INFO</a>
        </div>
    </header>
    
      
    <main id="contact">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form id="contact-form" action="/submit" method="POST">
          <label for="fname">Krstné meno / First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Zuzana" required>
        
          <label for="lname">Priezvisko / Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Čaputová" required>
        
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="zuzana@gmail.com" required>
        
          <label for="type">Typu / type</label>
          <select id="type" name="type">
            <option value="Question">Otázka / Question</option>
            <option value="Request">Slovná žiadosť / Word request</option>
            <option value="Other">Iné / Other</option>
          </select>

          <label for="message">Správa / Message</label>
          <textarea id="message" name="message" placeholder="Pridajte slovo 'Dodecahedron'"></textarea>
        
          <input type="submit" value="Submit">
        </form>
    </main>


</body>
</html>
