<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADIC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/FreeSans.ttf">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header id="main-header">
        <h1 id="header-title">MADIC</h1>
        <div id="header-links" class="hidden">
            <a href="/">PREKLADAČ</a>
            <a href="/dictionary">SLOVNÍK</a>
            <a href="/contact">KONTAKT</a>
            <a href="/info">INFO</a>
        </div>
    </header>
    
      
    <main id="info" class="info">
        <h2>About MADIC</h1>
        <p>Some longass paragraph about the site, infrastructure, goal, code etc</p>

        <a class="info" href="https://drive.google.com/file/d/1UwnRQNTt67UXcRkQjHPZUeDotVldHusI/view?usp=sharing">Phone application</a>
        <h2>Credits</h1>
        <p>Authors</p>
        <ul style="list-style-type: none;">
            <li>Ales - Android application</li>
            <li>David - Database</li>
            <li>Simona - Web application</li>
        </ul>
        <p> Thanks to Julka for providing translations</p>
    </main>


</body>
</html>
